@import "~bootstrap/dist/css/bootstrap.min.css";

@media (min-width: 768px) {
  .contenedorEventos {
    margin-right: 20%;
  }
}

span {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 0;
}
